/*
Defined the responsive styling for the portfolio on screen width > 870px
*/
@media screen and (min-width: 870px){
	.header_image{
		border-radius: 50%;
	}
	.header_title h1{
		font-size: 2.2px;
	}
	.header_title h4{
		font-size: 1em;
		font-weight: 400;
	}

	.container{
		width: 850px;
		margin-left: auto;
		margin-right: auto;
	}

}