/*
Defined the responsive styling for the portfolio on screen width > 1040px
*/

@media screen and (min-width: 1040px){
	.header_image{
		border-radius: 50%;
	}
	.header_title h1{
		font-size: 2.2px;
	}
	.header_title h4{
		font-size: 1em;
		font-weight: 400;
	}
	.container{
		width: 1000px;
		display: flex;
		flex-wrap: wrap;
		margin-right:auto;
		margin-left: auto;
	}
	.header{
		width: 100%;
		order: -1;
		padding-left: auto;
	}
	.header_inner{
		width: 90%;
	}

	.socailmedia{
		width: 100px;
		margin-left: 0px;
		margin-right: 0px; 
		order: 2;
		display: grid;

	}

	.content{
		width: 90%;
		margin-left: 0px;
		margin-right: 0px; 
		order: 3;
	}
	
}