
.header{
	padding-bottom: 12px;
	border-bottom: 6px solid grey;
	margin-bottom: 12px;
}
.header_title{
	text-align: center;
	text-transform: uppercase;
}

.header_title h1{
	font-size: 2.5em;
	font-weight: 300;
}

.header_title h4{
	font-size: 1.5em;
	font-weight: 300;
}

.header_img{
	box-shadow: 1px 5px 5px 1px grey;
	margin-top: 20px;
}

.social_icon{
		border-radius: 50%;
	}

.figure-caption{
	text-align: center;
	font-size: 16px;
}

.figure{
	display: block;
	margin: 0 auto;
}
