/*
Defined the default styling for the portfolio
*/
/*GLobal files*/
body,html{
	width: 100%;
}
.box{
	box-shadow: 1px 10px 10px 1px grey;
}
/*Header*/
.header_image{
	width: 100px;
}



/*Social media*/
.container-left-inner{
	position: fixed;
	right: 25px;
	bottom: 25px;
}

.socialmedia__icon{
	width: 120px;
	padding: 2px;
}
#share-icon{
	width:120px;
}